@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Berkshire+Swash&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

 a.active{
  
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
text-decoration: underline;
  text-decoration-color: black;
  
  
}
*{
    font-family: "Amaranth", sans-serif; 
}


