@import "tailwindcss";
@plugin "daisyui";

 a.active{
  
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
text-decoration: underline;
  text-decoration-color: black;
  
  
}

